.project-container {
  font-family: Arial, sans-serif;
}

.project-container gallery {
  border-radius: 8px;
  width: 60%;
  aspect-ratio: 16 / 9;
  margin: auto;
}

.project-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
}

.project-text {
  flex: 1 1 50%;
}

.project-text h1 {
  font-size: 2.5em;
  margin-bottom: 4px;
  margin-top: 0px;
}

.info-text {
  font-size: 0.75em;
  color: #666;
}

.short-description {
  // font-size: 1em;
  // color: #666;
  line-height: 1.6;
}

.project-video {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9;
  flex: 1 1 45%;
}

.project-video iframe {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.project-video img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.project-body {
  margin-top: 30px;
}

.long-description {
  font-size: 1em;
  line-height: 1.6;
}

@media (max-width: 768px) {
  .project-header {
    flex-direction: column-reverse;
    // align-items: center;
    // text-align: center;
  }

  .project-video {
    align-self: center;
  }
}