<div>
    <h2 style="text-align: center;">What is <i>Scaredy Cat</i>?</h2>

    <p>
        Great question! <i>Scaredy Cat</i> is an expression of my aesthetic taste, striking a delicate balance between the fun & whimsical, and the creepy & unsettling. My love of games was born in the nightmare fuel of Legend of Zelda games (particularly <i>Ocarina of Time</i> and <i>Majora's Mask</i>). It was nurtured in the existential dread of <i>OMORI</i> and <i>OneShot</i>. It matured in the philosphical pondering of <i>Wanderstop</i> and <i>Clair Obscur: Expedition 33</i>.
    </p>

    <p>
        My mission is to tell compelling, introspective stories through video games and music. Together, we can explore the strange, wonderful, and sometimes horrifying parts of being human. Games have much to teach us about ourselves. All you have to do is play, listen, and don't be a scaredy cat!
    </p>

    <p>
        If you like the sound of that, you can check out my work linked below!
    </p>

    <div class="button-group">
        <button class="mat-button sc-button" mat-raised-button (click)="navigateTo('games')">
            <mat-icon>sports_esports</mat-icon>
            <span>My Games</span>
        </button>

        <button class="mat-button sc-button" mat-raised-button (click)="navigateTo('music')">
            <mat-icon>music_note_2</mat-icon>
            <span>My Music</span>
        </button>
    </div>
</div>