.screenshot-gallery {
    width: 72%; 
    margin-left: auto; 
    margin-right: auto;
}

.summary {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-bottom: 24px;

    b {
            margin: 8px 24px 8px 0;
    }

    div {
        align-content: center;
    }
}

.concept-gallery {
    float: left;
    width: 70%;
    padding: 8px 24px 0 0;

    
}

gallery {
    aspect-ratio: 22/10;
    border-radius: var(--sc-radius-md);
}

img {
    width: 100%;
}

ul {
    line-height: 1.7;
    color: var(--sc-text-secondary);
    margin-bottom: 32px;
}

.ost {
    width: 72%; 
    margin-left: auto; 
    margin-right: auto;
}