<section class="hero">
  <div style="display: flex;">
    <div style="flex: 1;"></div>
    <div class="title" (click)="navigateTo('home')">
      <h1 style="margin: 0px;">Christian Cook</h1>
      <h2 style="margin: 0px;">Of Scaredy Cat Studios</h2>
      <h3 style="margin: 12px 0 0 0; font-style: italic;">Dark, with a Bit of Whimsy</h3>
    </div>

    <div class="hamburger-container">
      <div class="hamburger" (click)="toggleMenu()">
        &#9776;
      </div>
    </div>
  </div>
</section>

<div class="overlay" [class.open]="menuOpen">
  <a (click)="closeMenu()" class="close-btn">&times;</a>
  <div class="overlay-content">
    @for (item of menuOptions; track item) {
      <a (click)="navigateTo(item); closeMenu()"><b>{{item}}</b></a>
    }

    <app-social-links></app-social-links>
  </div>
</div>