.hero {
  padding: 1rem;
  text-align: center;
  background: radial-gradient(
    circle at top,
    rgba(198, 178, 124, 0.05),
    transparent 60%
  );
  background-color: var(--sc-bg-secondary);
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  box-shadow: 5px 5px 15px 0px #000000;
}

.hero p {
  margin: 1rem auto 2.5rem;
}

.title {
  width: fit-content;
  cursor: pointer;
  justify-self: center;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sc-bg-primary);;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1000;
}

.overlay.open {
  width: 100%;
  align-content: center;
}

.overlay-content {
  width: 100%;
  text-align: center;

  a {
    display: block;
    font-size: 2.5rem;
    padding: 1rem;
    cursor: pointer;
  }
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--sc-text-primary);
  cursor: pointer;
}

app-social-links {
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 16px;
}

.hamburger-container {
  flex: 1; 
  container-type: inline-size; 
  align-content: start;
  padding-right: 32px;
}

.hamburger {
  text-align: end;
  font-size: 64px;
  cursor: pointer;
}

@media (max-width: 450px) {
    .hamburger {
        font-size: 100cqi;
        top: 2px;
    }

    .hamburger-container {
      padding-right: 16px;
    }
}