<header class="header">
  <div class="title"(click)="navigateTo('portfolio');">Christian Cook - Game Developer</div>

  <nav class="nav-links">
    @for (item of menuOptions; track item) {
      <a (click)='navigateTo(item)'>{{item}}</a>
    }
  </nav>

  <div class="hamburger" (click)="toggleMenu()">
    &#9776;
  </div>

  <div class="overlay" [class.open]="menuOpen">
    <a (click)="closeMenu()" class="close-btn">&times;</a>
    <div class="overlay-content">
      @for (item of menuOptions; track item) {
        <a (click)="navigateTo(item); closeMenu()">{{item}}</a>
      }
    </div>
  </div>
</header>
