.hero {
  padding: 1rem;
  text-align: center;
  background: radial-gradient(
    circle at top,
    rgba(198, 178, 124, 0.05),
    transparent 60%
  );
  background-color: var(--sc-bg-secondary);
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  box-shadow: 5px 5px 15px 0px #000000;
}

.hero p {
  margin: 1rem auto 2.5rem;
}




.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  background-color: var(--sc-bg-secondary);
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
}

.title {
  font-size: 1.5rem;
  padding: 1rem;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: 1rem;
  cursor: pointer;
  padding-right: 1rem;
}

.nav-links a {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.nav-links a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}

.hamburger {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* Full-screen overlay menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--sc-bg-primary);;
  overflow-x: hidden;
  transition: 0.4s;
  z-index: 1000;
}

.overlay.open {
  width: 100%;
}

.overlay-content {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}

.overlay-content a {
  display: block;
  font-size: 2rem;
  padding: 1rem;
  cursor: pointer;
}

.close-btn {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 3rem;
  color: var(--sc-text-primary);
  cursor: pointer;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: auto;
  margin-right: 32px;
}

.social-links img {
  width: 28px;
  max-width: 100%;
  height: auto;
  display: block;
  filter: invert(1);
}


.social-links-overlay {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  margin-left: auto;
}

.social-links-overlay img {
  width: 64px;
  max-width: 100%;
  height: auto;
  display: block;
  filter: brightness(0) saturate(100%) invert(97%) sepia(50%) saturate(1081%) hue-rotate(319deg) brightness(84%) contrast(81%);
}

.social-links-overlay img:hover {
  filter: brightness(0) saturate(100%) invert(90%) sepia(8%) saturate(230%) hue-rotate(3deg) brightness(98%) contrast(98%);
}

/* Responsive styles */

.nav-links {
  display: none;
}

.hamburger {
  display: block;
  margin: 8px;

  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 64px;
}

@media (max-width: 500px) {
    .hamburger {
        font-size: 48px;
        top: 2px;
    }
}

.social-links {
  display: none;
}