<!-- <div class="project-body">
    <h2>From Facilitator to Director</h2>
    <p>
        Between April - August of 2026, I led my group of GDC friends and colleagues through 3 game jams. In my post about <i><a routerLink="/games/lost-and-found">Lost and Found</a></i>, I discussed the transition in mindset and responsibilities going from solo development to leading a team, as well as the measures I took to ensure everyone had a say in the game we were going to make. This was a worthy exercise for game jams and developing my skills in evalutaing disparate ideas and feedback over the prior 3 games. However, I had been thinking about taking a different approach based on my goals and various conversations I had with trusted colleagues.
    </p>
    <p>
        This team has shared a number of successes in working together on smaller projects, so my inclination by around August 2026 was that we could work together to build something larger, perhaps even something worth developing as a commercial product. In gathering advice on how to approach this with a close filmmaker friend, he advised that I ought to take on a stronger role in setting the creative vision for the game, and letting the team take ownership through their domain expertise rather than needing everyone to help form the core idea. I wasn't on board at first. 
    </p>
</div> -->

<div>
    <h2>Game Design Document</h2>
    <h3>Creative Vision</h3>
    <ul>
        <li>
            A psychological horror creature collector game where you are led to believe that your actions are benign, but the more creatures you catch, the further into your grandiose delusions you fall, unaware of the harm you are causing
        </li>
    </ul>
    <h4>Inspirations</h4>
        <ul>
        <li>
            The story of the Ice King from Adventure Time, taking a kind, good-natured person and corrupting their perception/thoughts until they are unrecognizable
        </li>
        <li>
            "Gameplay" and storytelling of Petscop, a simple puzzle-oriented creature collector where you explore a space and solve a puzzle in order to trap a creature and add them to your collection
        </li>
    </ul>

    <h4>Design Pillars</h4>
    <ul>
        <li>Something doesn't feel right</li>
        <li>Unreliable narrator/game</li>
        <li>More than meets the eye</li>
        <li>You didn't mean to do harm</li>
        <li>Hiding from what you've done</li>
    </ul>
        
    <h3>Story/Mechanics Summary</h3>

    <h4>Setting</h4>
    <ul>
        <li>A 1 room cabin in the middle of a snowy forest</li>
        <li>
            You start the game by answering the telephone to hear your family being killed. You then go over to the fireplace and light it, introducing the main 2 mechanics.
        </li>
        <li>
            Potential backstory (if time allows for explanation)
            <ul>
                <li>
                    You discovered a cursed relic, and touching it angered ancient spirits/monsters, sending them to kill your wife and 2 kids
                </li>
            </ul>
        </li>
        <li>
            You are hunting the cryptids/monsters, staking out their habitat in the woods (think Wendigo, bigfoot, yeti, mothman…)
        </li>
    </ul>
 
    <h4>Mechanics/Gameplay</h4>
    <ul>
        <li>
            You venture out and solve simple puzzles (or other TBD mechanic if better idea arises) to "capture" the monster and mount its head on the wall of your cabin
            <ul>
                <li>
                    I think 3 "plot" monsters is a good number, though perhaps we can have minor encounters in between (fight normal deer, squirrels, need to chop trees for firewood, etc if we have time)
                </li>
            </ul>
        </li>
        <li>
            Cabin has various objects with disturbing dialog
            <ul>
                <li>
                    eg.) <i>As you stare into the eyes of your felled beast trophy, a strange sensation stirs in you. As if it's look is somehow… familiar…</i>
                </li>
            </ul>
        </li>
        <li>
            Each head you mount changes the aesthetic of the game (shaders start glitching, furniture gets thrown over, blood splatters on the wall)
        </li>
        <li>
            Place Objects in scene that interact with monsters in different ways
        </li>
    </ul>
 
    <h4>Monsters</h4>
    <ul>
        <li>
            Family Dog/Hellhound
            <ul>
                <li>Jumping?</li>
                <li>Leap between zones, use angle of approach and placement of fire to determine win condition</li>
                <li>Used to run into neighbor's yard and you'd have to sneak up on him</li>
                <li>Used to snuggle by the fire, you have to push them in</li>
            </ul>
        </li>
        <li>
            Child/Mosquito
            <ul>
                <li>
                    Chase around boulder/table?
                    <ul>
                        <li>
                            Place lore clues that you used to play together and chase them and they run away until you place a fire down, and they stare at it and you can capture them
                        </li>
                        <li>Kitchen island, running around, make them run into fire</li>
                    </ul>
                </li>
                <li>Loves smores, you promised that you'd make some at the cabin → get pacified by fire and you have to push him in</li>
            </ul>
        </li>
        <li>
            Wife/Wendigo
            <ul>
                <li>Human sacrifice, maybe member of family?</li>
                <li>
                    Need to place dead body on fire to "cook" it
                    <ul>
                        <li>References to cooking and pickiness with food</li>
                    </ul>
                </li>
            </ul>
        </li>
    </ul>
 
    <h4>Ending</h4>
    <ul>
        <li>
            When you capture all 3 monsters, you realize that the monsters were actually a delusion, and it was actually your family that you killed all along
        </li>
    </ul>
 
    <h3>Controls</h3>
    <ul>
        <li>2D top down controls (WASD, Joystick)</li>
        <li>Interact (E, controller A)</li>
        <li>Place Object (SPACE)</li>
    </ul>
</div>