<div class="project-body">
    <h2>First Foray into Multiplayer</h2>
    <p>
        This game was made for the <i>That Game Company x Coreblazer Jam 2025</i> with the theme of <i>Generosity</i>. My friend and I had wanted to make a multiplayer game together for a while and the theme seemed to align with that goal perfectly. We spent the first day of the jam brainstorming ideas, talking through various game we've both enjoyed that may have elements of generosity, or otherwise interesting multiplayer mechanics we could work in.
    </p>
    <p>
        One early inspiration was, of course, That Game Company's own <i>Journey</i>. The collaborative exploration and problem solving in <i>Journey</i>, combined with its limits on player communication, served as core influences in designing our own world and player interaction mechanics.
    </p>
    <p>
        Another big influence was <i>Mosa Lina</i> by Stuffed Wombat. The limited and random abilities for navigating the world and solving puzzles gave us a great foundation for thinking about how players could use these kinds of abilities in a collaborative way.
    </p>
</div>

<div>
    <gallery [items]="gallery" thumbs loop="true" thumbPosition="left" imageSize="cover"></gallery>
</div>

<div class="project-body">
    <h2>Cultivating a Collaborative Experience</h2>
    <p>
        The central design challenge we faced was creating an experience that incentivized players to work together to navigate the world we created and solved the puzzles it contained. Our original vision entailed a massive world too large for any 1 player to navigate on their own, and a vast multitude of abilities to draw on for puzzle/level design. However, this was for a game jam, so we only had 3 weeks to execute our vision. 
    </p>
    <p>
        We had to make many compromises along the way, scaling back the world and the abilities, challenging what we felt was the main incentive to work together. In a world that is navigable by a single player, we felt that the best alternative was to utilize multiple movement mechanics in each puzzle. That way, as players explore different parts of the map, they will need different abilities at different times, facilitating trade, or even a sense of generosity in giving up your ability to navigate easily.
    </p>
</div>