<div class="about-container">
    <h1>About Me</h1>
    <div class="about-content">
        <div class="about-img"><img src="portrait.jpg" alt="Profile Photo" class="profile-photo" /></div>
        <div class="about-text">
            <div>
                <h3>Games are a frontier we've only <i>just</i> begun to tap.</h3>
            </div>
            <p>
                They have the potential to leverage their interactivity to do more than covey stories on-screen, but to actually bring players along for the journey. Seeing that potential come to fruition in my favorite games only fuels my motivation to pursue the craft and lead teams on the journey of pushing those boundaries.
            </p>
            <p>
                I admire when games leverage the medium itself to communicate certain ideas: how <i>Undertale</i> subverts genre expectations to expose the cultural habits players have built around RPGs, how <i>OneShot</i> breaks the fourth wall to make you feel like the character's guardian rather than the character itself, and how <i>Outer Wilds</i> combines its beautiful world with open-ended gameplay to encourage a sense of wonder and discovery.
            </p>
            <p>
                Creative endeavors and people need balance, and I enjoy plenty of activities outside of making games! I love to cook, especially experimenting with new and complex recipes. I'm an avid musical composer (yes, for game soundtracks, but also just for myself!) I also enjoy exploring different neighborhoods in Richmond, frequenting local coffee shops, bookstores, and museums.
            </p>
        </div>
    </div>
    <div class="footer">
        Want to get in touch? Feel free to <a routerLink="/contact">contact</a> me through the form, or <a [href]="mailto" target="_blank" rel="noopener noreferrer">email</a>!
    </div>
</div>