<div class="about-container">
    <img src="portrait.png" alt="Profile Photo" class="profile-photo" />

    <div class="about-text">
        <h2>About Me</h2>
        <div>
            <h3>Games are a frontier we've only <i>just</i> begun to tap.</h3>
        </div>
        <p>
            I am fascinated by the trajectory that video games as art form have been on since their inception. From humble beginnings, they have branched in such a wide variety of directions: from technical challenges to sprawling worlds, from social experiences to emotional narratives, it's hard to believe there isn't a game out there for <i>everybody</i>.
        </p>
        <p>
            There is an abundance of untapped potential in this medium, potential to tell incredible stories and craft unforgettable experiences. Seeing that potential come to fruition in some of my favorite games, and the excitement of pursuing the craft myself motivates me to continue to learn and grow.
        </p>
        <p>
            All creative endeavors and creative people require balance, and I enjoy many activities outside of making games! I love to cook, especially in experimenting with new and complex recipes. I also enjoy exploring downtown in my city, frequenting local coffee shops, bookstores, and museums.
        </p>
    </div>
</div>

 <div class="footer">
    Want to get in touch? Feel free to <a routerLink="/contact">contact</a> me through the form, or <a [href]="mailto" target="_blank" rel="noopener noreferrer">email</a>!
 </div>