.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.profile-photo {
    width: 400px;
    height: auto;
    border-radius: var(--sc-radius-md);
    object-fit: cover;
}

h1 {
    display: none;
}

.about-content {
    display: flex;
    flex-flow: row;
    align-items: center;
    gap: 20px;
}

.about-text {
    flex: 2;
}

.about-img {
    flex: 1;
    place-items: center;

    img {
        max-width: 100%;
        height: auto;
        display: block;
    }
}

p:last-child {
    margin-bottom: 0px;
}

.footer {
    text-align: center;
    font-style: italic;
}

@media (max-width: 1000px) {
    .about-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h1 {
        display: block;
        margin: 8px 0 0 0;
    }

    .about-content {
        flex-direction: column;

        img {
            width: 60%;
        }
    }

    .about-text {
        width: 100%;
    }

    .profile-photo {
        width: 100%;
        max-width: 300px;
    }
}