button {
    padding: 18px;
    font-size: 1.2rem;
    border-radius: 8px;
}

.skills-section {
    display: flex;
    justify-content: space-between;
}

section {
    margin-bottom: 32px;
}

h4 {
    margin: 0px;
}