<div>
    <button class="mat-button" mat-raised-button (click)="download()">
        <mat-icon>download</mat-icon>
        <span>Download PDF</span>
    </button>

    <section>
        <h1>Professional Experience</h1>
        <h4><span>Bart & Associates</span>&nbsp;&middot;&nbsp;<span>Applications Developer (2024 - Present)</span></h4>
        <div>
            <ul>
                <li>Directed modernization of frontend applications to cultivate a streamlined and performant user experience.</li>
                <li>Developed a well-rounded understanding of the software lifecycle, expanding my expertise in backend technologies and DevOps pipelines.</li>
                <li>Collaborated with experienced developers to solve collective problems and incorporate their wisdom into my perspective.</li>
            </ul>
        </div>

        <h4><span>Linkware, LLC</span>&nbsp;&middot;&nbsp;<span>Applications Developer (2021 - 2024)</span></h4>
        <div>
            <ul>
                <li>Collaborated on several web-based applications, specializing in UI development and expanding into a full-stack role.</li>
                <li>Cultivated skills in a variety of technologies and frameworks including Angular and Spring Boot.</li>
                <li>Proposed and implemented several custom frameworks and components with high reusability.</li>
            </ul>
        </div>
    </section>
    <section>
        <h1>Skills & Expertise</h1>
        <div class="skills-section">
            <div>
                <h4>Development Tools</h4>
                <ul>
                    <li>Godot (C#)</li>
                    <li>Unity (C#)</li>
                    <li>Angular</li>
                    <li>Typescript/Javascript</li>
                    <li>Java</li>
                    <li>Server-based multiplayer (Godot)</li>
                </ul>
            </div>

            <div>
                <h4>DevOps & Project Management</h4>
                <ul>
                    <li>Git</li>
                    <li>Jenkins</li>
                    <li>Harness</li>
                    <li>Kubernetes</li>
                    <li>Jira/Confluence</li>
                    <li>Agile/Scrum</li>
                </ul>
            </div>

            <div>
                <h4>Soft Skills</h4>
                <ul>
                    <li>User/Player Empathy</li>
                    <li>Puzzle Design</li>
                    <li>Reactive Web Design</li>
                    <li>Iterative Design</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h1>Education</h1>
        <h4>
            <div>B.A., Computer Science</div>
            <div>University of Virginia, 2021</div>
        </h4>
        <ul>
            <li>CS 4730: Intro to Game Design</li>
            <li>CS 4810: Computer Graphics</li>
            <li>CS 4993: Independent Study - Procedural Generation of Foliage in Unity</li>
        </ul>
    </section>
</div>