<div>
    @if (showPdf) {

    <div><ngx-extended-pdf-viewer src="Resume.pdf"></ngx-extended-pdf-viewer></div>

    <div style="position: relative; padding-top: 18px;">
        <button class="mat-button" mat-raised-button (click)="download()">
            <mat-icon>download</mat-icon>
            <span>Download PDF</span>
        </button>
    </div>

    } @else {

   <div style="position: relative;">
        <button class="mat-button" mat-raised-button (click)="download()">
            <mat-icon>download</mat-icon>
            <span>Download PDF</span>
        </button>
    </div>

    
    
    <section>
        <h1>Profile</h1>
        <div>
            <ul>
                <li>Motivated to pursue a career of learning and excellence in design and engineering.</li>
                <li>Eager to learn from those with more experience and collaborate on complex problems that push growth.</li>
                <li>Known for developing highly modular software components and bespoke developer tools to increase team productivity and code readability.</li>
                <li>Able to quickly prototype systems to gain design insight before committing to long-term implementations.</li>
                <li>Curious about incorporating cutting-edge technologies into new and existing products.</li>
            </ul>
        </div>
    </section>

    <section>
        <h1>Professional Experience</h1>
        <h4><span>Bart & Associates</span>&nbsp;&middot;&nbsp;<span>Applications Developer (2024 - Present)</span></h4>
        <div>
            <ul>
                <li>Lead modernization of Angular front end applications to build a streamlined and performant user experience.</li>
                <li>Partnered with experienced developers to solve complex problems and learn from their wisdom.</li>
                <li>Developed a well-rounded understanding of the software life cycle, expanding my expertise in back end technologies and DevOps pipelines.</li>
            </ul>
        </div>

        <h4><span>Linkware, LLC</span>&nbsp;&middot;&nbsp;<span>Applications Developer (2021 - 2024)</span></h4>
        <div>
            <ul>
                <li>Collaborated with senior developers to build a variety of web applications.</li>
                <li>Cultivated skills in a variety of technologies and frameworks including Angular and Spring Boot.</li>
                <li>Pursued growth into a full-stack role while building a specialization on front-end technologies.</li>
                <li>Implemented custom developer tools and systems for increasing developer productivity by 30%.</li>
            </ul>
        </div>
    </section>
    <section>
        <h1>Skills & Expertise</h1>
        <div class="skills-section">
            <div>
                <h4>Development Tools</h4>
                <ul>
                    <li>Godot (C#)</li>
                    <li>Unity (C#)</li>
                    <li>Angular</li>
                    <li>Typescript/Javascript</li>
                    <li>Java</li>
                    <li>Server-based multiplayer (Godot)</li>
                </ul>
            </div>

            <div>
                <h4>DevOps & Project Management</h4>
                <ul>
                    <li>Git</li>
                    <li>Jenkins</li>
                    <li>Harness</li>
                    <li>Kubernetes</li>
                    <li>Jira/Confluence</li>
                    <li>Agile/Scrum</li>
                </ul>
            </div>

            <div>
                <h4>Soft Skills</h4>
                <ul>
                    <li>User/Player Empathy</li>
                    <li>Puzzle Design</li>
                    <li>Reactive Web Design</li>
                    <li>Iterative Design</li>
                </ul>
            </div>
        </div>
    </section>
    <section>
        <h1>Education</h1>
        <h4>
            <div>B.A., Computer Science</div>
            <div>University of Virginia, 2021</div>
        </h4>
        <ul>
            <li>CS 4730: Intro to Game Design</li>
            <li>CS 4810: Computer Graphics</li>
            <li>CS 4993: Independent Study - Procedural Generation of Foliage in Unity</li>
        </ul>
    </section>
    }
</div>

<div style="position: absolute;">
    <button class="mat-button" mat-raised-button (click)="showPdf = false;" style="width: 120px; left: 0px;">
        <span>Option 1</span>
    </button>
    <button class="mat-button" mat-raised-button (click)="showPdf = true;" style="width: 120px; left: 150px;">
        <span>Option 2</span>
    </button>
</div>